@font-face {
font-family:Myriad;
src: url(MyriadPro-Regular.otf);
}

body{
	font-family:"Myriad";
	}

.detailColumnBlockD01{
	width:238px;
	height:350px;
	float:left;
	margin-top:50px;
	padding:35px 20px;
	border:1px solid #25aae1;
	border-radius:5px;
	text-align:center;
	}

.detailColumnBlockD11{
	width:238px;
	height:60px;
	margin-top:10px;
	margin-left:-6px;
	text-align:center;
	}


.detailColumnBlockD01 .originalPrice{
	text-decoration:line-through;
	font-size:19px;
	}

.detailColumnBlockD01 .newPrice{
	font-size:27px;
	font-weight:bold;
	color:#f6921e;
	margin-bottom:40px;
	}

.detailColumnBlockD01 .discount,
.detailColumnBlockD01 .sold{
	width:190px;
	height:auto;
	margin-bottom:15px;
	}

.detailColumnBlockD01 .discount{
	font-weight:bold;
	}
	
.detailColumnBlockD01 .pleft,
.detailColumnBlockD01 .pright {
	float:left;
	width:95px;
	font-size:19px;
	text-align:right;
	}

.detailColumnBlockD01 ul li button{
	background:#26a9e0;
	border: medium none;
	border-radius: 3px;
	width: 180px;
	height: 45px;
	margin: 10px 15px;
	color: #FFF;
	font-weight: bold;
	cursor:pointer;
	}

.detailColumnBlockD01 .shareBlockD01{
	margin-top: 39px;
	}

.discount-tag {
	margin-left: -22px;
	margin-top: 3px;
}

.detailColumnBlockD02{
	margin:50px 5px 0 25px;
	border-right:1px solid #e3e3e3;
	width:295px;
	height:auto;
	float:left;
	}

.detailColumnBlockD02 h3,
.detailColumnBlockD03 h3,
.detailColumnBlockD04 h3{
	margin:10px 0 15px 0;
	color:#26a9e0;
	}

.detailColumnBlockD02 ul li,
.detailColumnBlockD03 ul li{
	list-style:circle;
/*	list-style:☺;
*/	}

.detailColumnBlockD03{
	margin:50px 0 0 15px;
	width:300px;
	height:auto;
	float:left;
	}

.detailColumnBlockD04{
	width:100%;
	height:auto;
	float:right;
	margin-top:30px;
	text-align: justify;
	}
.sideDetailColumnBlockD04{
	width: 30%;
	float:left;
	margin: 17px 16px 0px 0px;
	}
.sideDetailColumnBlockD04 h4{
	text-align:center;
	margin: 3px 0px;
	}
.sideDetailColumnBlockD04 a:hover{
	color:#f6921e;
	}
.contentDetailColumnBlockD01{
	width:68%;
	float:right;
	border-top:1px solid #E3E3E3;
	}
.contentDetailColumnBlockD01 .textBlockD01{
	width: 53%;
	text-align:justify;
	float: left;
	}
.contentDetailColumnBlockD01 .imageBlockD01{
	width:auto;
	margin: 0% 5%;
	float:left;
	text-align:center;
	}
#produkBlockD01{
	width: 100%;
	}
#spesifikasiBlockD01 img{
	width: 50%;
	float:left;
	}
#produkBlockD01 .isiblockD01{
	width:45%;
	float:left;
	margin-right:6px;
	}
#produkBlockD01 img{
	margin: 0 auto;
	}
#spesifikasiBlockD01 .isiblockD01 ul, #spesifikasiBlockD01 .isiblockD02 ul {
	padding-left: 16px;
	}
#spesifikasiBlockD01 .isiblockD01 li, #spesifikasiBlockD01 .isiblockD02 li {
	list-style:circle;
}
#spesifikasiBlockD01 .isiblockD02{
	width: 47%;
	float: left;
	margin-right: 9px;
	}

/*_______________________TabBlockA01__________________________________*/
/* Set the size and font of the tab widget */
#wrap #wrapInner #contentArea .tabBlockA01{
    width:100%;
    height:auto;
	margin: 10px 0px;
	}

/* Configure the radio buttons to hide off screen */
#wrap #wrapInner #mainArea .tabBlockA01 > input[type="radio"]{
    visibility:hidden;
	}

/* Configure labels to look like tabs */
#wrap #wrapInner #mainArea .tabBlockA01 > input[type="radio"] + label{
    /* inline-block such that the label can be given dimensions */
    display: inline-block;
	margin:0 -10px;
	
    /* A nice curved border around the tab */
    border: 1px solid #278794;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
     
    /* the bottom border is handled by the tab content div */
    border-bottom: 0;
 
    /* Padding around tab text */
    padding: 5px 10px;
 
    /* Set the background color to default orange (non-selected tab) */
    background-color:#fff;
	color:#000;
	font-weight:bold;
	font-size:14px;

	}
	
/* Focused tabs need to be highlighted as such */
#wrap #wrapInner #mainArea .tabBlockA01 > input[type="radio"]:focus + label{
    border:1px solid #278794;
	}

/* Checked tabs must be white/orange with the bottom border removed */
#wrap #wrapInner #mainArea .tabBlockA01 > input[type="radio"]:checked + label{
    background-color:#fff;
    border-bottom: 1px solid #fff;
    margin-bottom: -2px;
	}

/* The tab content must fill the widgets size and have a nice border */
.tabBlockA01 > div {
    display: none;
    border: 1px solid #26A8E0;
    background-color: #FFF;
    padding: 10px 10px;
    height: 300px;
    overflow: auto;
    -moz-box-shadow: 0 0 20px #444;
    -webkit-box-shadow: 0 0 20px #444;
     
    border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
	}

/* This matchs tabs displaying to thier associated radio inputs */
.tabA1:checked ~ .tabA1, .tabA2:checked ~ .tabA2, .tabA3:checked ~ .tabA3, .tabA4:checked ~ .tabA4 {
	height:auto;
    display: block;
}
.tabA1:checked ~ .tabA1{
	width:100%;
	text-align: center;
}
.tabA1 .fiturBlockA01{
	margin:10px 0px 0px 0px;
	height:400px;
	overflow: auto;
	overflow-x: hidden;
}
.tabA1 .fiturBlockA01 img{
	margin:10px 0px 0px 10px;
}

.tabA1 a{
color: #26A9E0;	
}

/*_______________________End Of TabBlockA01__________________________________*/

.imgFitur {
	float:left;	
}
.imgFitur2{
	float:right;
	}

/*--------------------------------------------------------------- Flip Counter
-----------------------------------------------------------------------------*/
/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
.flip-clock-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc; }

.flip-clock-wrapper a:hover {
  color: #fff; }

.flip-clock-wrapper ul {
  list-style: none; }

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table; }

.flip-clock-wrapper.clearfix:after {
  clear: both; }

.flip-clock-wrapper.clearfix {
  *zoom: 1; }

/* Main */
.flip-clock-wrapper {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none; }

.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important; }

.flip-clock-meridium a { color: #313333; }

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em;
}

.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.flip-clock-wrapper:after {
    clear: both;
}

/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 1px;
  width: 20px;
  height: 28px;
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 2px;
  background: #000;
}

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 27px;
  text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {
  z-index: 2; }

.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important; }

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden; 
  outline: 1px solid transparent; }

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4); }

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #333;
  border-radius: 2px;
  font-size: 20px; }

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }

.flip-clock-wrapper .flip {   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7); }

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5; }

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 58px; }

.flip-clock-divider:first-child {
  width: 0; }

.flip-clock-dot {
  display: block;
  background: #323434;
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 50%;
  left: 1px; }

.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: 33px;
  right: -30px;
  color: black;
  text-shadow: none; }

.flip-clock-divider.minutes .flip-clock-label {
  right: -40px; }

.flip-clock-divider.seconds .flip-clock-label {
  right: -45px; }

.flip-clock-dot.top {
  top: 9px; }

.flip-clock-dot.bottom {
  bottom: 35px; }

@-webkit-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@-moz-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@-o-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }

  100% {
    -webkit-transform: rotateX(0deg); } }

@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg); }

  100% {
    -moz-transform: rotateX(0deg); } }

@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg); }

  100% {
    -o-transform: rotateX(0deg); } }

@keyframes turn {
  0% {
    transform: rotateX(90deg); }

  100% {
    transform: rotateX(0deg); } }

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }

  100% {
    -webkit-transform: rotateX(-90deg); } }

@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg); }

  100% {
    -moz-transform: rotateX(-90deg); } }

@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg); }

  100% {
    -o-transform: rotateX(-90deg); } }

@keyframes turn2 {
  0% {
    transform: rotateX(0deg); }

  100% {
    transform: rotateX(-90deg); } }

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }

/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }

/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
